/**
 * =============================================================================
 *  Toast 信息框
 * =============================================================================
 * Came from WeUI
 *
 * @author dondevi
 * @create 2016-05-10
 *
 */

.toast {
  position: absolute;
  display: inline-block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 50%;
  left: 50%;
  z-index: 3001;
  min-width: 64px;
  min-height: 60px;
  padding: 0 25px;
  background-color: rgba(40, 40, 40, 0.75);
  border-radius: 5px;
  color: #fff;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.toast.loading:after,
.toast .loading:after {
  background-color: transparent;
}
  .toast-icon {
    display: block;
    margin-top: -10px;
  }
    .toast-icon:before {
      content: "\EA08";
      color: #FFFFFF;
      font-size: 55px;
      font-family: "weui";
    }
  .toast-content {
    font-size: 16px;
  }
