/**
 * =============================================================================
 *  Collapse 折叠
 * =============================================================================
 *
 * @author dondevi
 *
 */
.collapse {
  display: none;
  visibility: hidden;
}
.collapse.in {
  display: block;
  visibility: visible;
}
