/**
 * =============================================================================
 *  Modal dialog 模态框
 * =============================================================================
 *
 * @author dondevi
 *
 */
.modal {
  /*position: absolute;*/
  position: fixed;
  overflow-x: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  background-color: rgba(0,0,0,.6);
  outline: none;
  color: #555;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
  .modal:before,
  .modal-dialog {
    display: inline-block;
    vertical-align: middle;
  }
  .modal:before {
    content: "";
    height: 100%;
    margin: -2px;
  }
  .modal.fade {
    opacity: 0;
    -webkit-transition: opacity 0.176s ease-out;
            transition: opacity 0.176s ease-out;
  }
    .modal.fade .modal-dialog {
      -webkit-transform: translate3d(0, -25%, 0);
              transform: translate3d(0, -25%, 0);
      -webkit-transition: -webkit-transform 0.334s ease-out;
              transition:         transform 0.334s ease-out;
    }
  .modal.in {
    opacity: 1;
  }
    .modal.in .modal-dialog {
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
  .modal-dialog {
    position: relative;
    z-index: 10;
    /*max-width: 98%;*/
    max-width: 480px;
    width: 100%;
    /*margin: 10px auto;*/
    text-align: left;
    white-space: normal;
    word-break: break-word;
  }
  .modal-dialog-middle {
    min-width: 200px;
    width: auto;
  }
  .modal-content {
    position: relative;
    background-color: #fff;
    border-radius: 6px;
    outline: 0;
  }
    .modal-header {
      margin: 0;
      padding: 15px;
      border-bottom: 1px solid #4384d5;
      min-height: 16.42857143px;
      color: #333;
    }
      .modal-title {
        margin: 0;
        padding-left: 10px;
        border-left: 4px solid #4384d5;
        font-weight: normal;
        font-size: 1.2rem;
        line-height: 1.3;
      }
    .modal-body {
      position: relative;
      padding: 15px;
    }
    .modal-footer {
      padding: 5px;
      background-color: #e8e8e8;
      border-top: 1px solid #e5e5e5;
      text-align: center;
    }
      .modal-footer .btn + .btn {
        margin-left: 6px;
      }
  .modal .close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    display: inline-block;
    width: 40px;
    height: 50px;
    color: #ccc;
    font-size: 35px;
    font-weight: normal;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
  }
